

body {
	direction: ltr;
	font-family: "chiller", serif;
	background-image: url("images/Bumi\ chalenge\ Aang.jpg"); /* מציין את מיקום התמונה */
	background-size: cover; /* מוודא שהתמונה תכסה את כל הרקע */
	background-position: center; /* ממקם את התמונה במרכז הדף */
	background-attachment: fixed; /* קובע שהתמונה תישאר במקום כאשר גוללים */
  }

  .logo {
	display: flex;
	align-items: center;
	height: 60px;
	padding-left: 20px;
	margin-right: auto;
  }
  
  .logo-img {
	height: 45px;
	width: 45px;
	object-fit: cover;
  }

  .section {
	padding: 100px 20px;
	text-align: center;
  }
  .White-background{
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(3px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	text-align: left;
	line-height: 1.6;
	font-size: 24px;
	color: black;
  }
  

#menu{
	position: fixed;
    top: 0;
	right: 0;
	left: 0;
	height: 60px;
    background-color: green; 
    z-index: 1; 
    padding: 0; 
    text-align: center; 
	display: flex;
	align-items: center; 
	justify-content: center; 
}
#menu li{
	margin: 0;
	list-style: none;
	height: 60%;
}
#menu a {
	text-decoration: none;
	height: 50px;
	font-weight: bold;
	font-size: 30px;
	color: white;
	padding: 40px;
}
h2{
	font-weight: bold;
	font-size: 60px;
}

h3{
	font-weight: bold;
	font-size: 40px;
}
p{
	font-size: 25px;
}
label{
	font-size: 40px;
}
button{
	font-size: 40px;
	font-family: "chiller", serif;

}


  
.title-bold-text {
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
}



.image {
    width: 400px; 
    height: auto; 
	border: 5px solid white;
	margin: 10px;
}



.highlight-on-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight-on-hover:hover {
    transform: scale(1.05); /* הגדלה קלה */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* צל שנותן עומק */
    cursor: pointer;
}



.text-box-size {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
	background-color: #f5f5f5;  

}
.message-box-size {
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
	background-color: #f5f5f5;  
}
.send-box-size {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
	background-color: lightblue;  
}

.horizontal-scroll {
	display: flex;
	overflow-x: auto;
	gap: 10px;
	padding: 10px;
	scroll-snap-type: x mandatory; /* חלק מהמכשירים יתפסו תמונה אחת כל פעם */
  }
  
  .horizontal-scroll img {
	width: 300px;
	height: auto;
	flex-shrink: 0;
	scroll-snap-align: start;
	border-radius: 10px;
  }
  


