

body {
	font-family: "Georgia", serif;
	background-image: url("images/Bumi\ chalenge\ Aang.jpg"); /* מציין את מיקום התמונה */
	background-size: cover; /* מוודא שהתמונה תכסה את כל הרקע */
	background-position: center; /* ממקם את התמונה במרכז הדף */
	background-attachment: fixed; /* קובע שהתמונה תישאר במקום כאשר גוללים */
  }

  .logo {
	display: flex;
	align-items: right;
	height: 60px;
	padding-left: 20px;
	margin-right: auto;
  }
  
  .logo-img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
  }

  .section {
	padding: 100px 20px;
	text-align: center;
  }
  .White-background{
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(3px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	text-align: left;
	line-height: 1.6;
	font-size: 16px;
	color: #333;
  }
  

#menu{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: green; 
    z-index: 1000; 
    padding: 5px 0; 
    text-align: center; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
}
#menu li{
	display: inline;
	margin: 0 10px;
}
#menu a {
	text-decoration: none;
	color: white;
	padding: 200px 20px;
}
.title-bold-text {
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
}



.image {
    width: 400px; 
    height: auto; 
	border: 5px solid #000;
	margin: 10px;
}



.highlight-on-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight-on-hover:hover {
    transform: scale(1.05); /* הגדלה קלה */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* צל שנותן עומק */
    cursor: pointer;
}



.text-box-size {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
	background-color: #f5f5f5;  

}
.massage-box-size {
    width: 100%;
    max-width: 500px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
	background-color: #f5f5f5;  
}
.send-box-size {
    width: 100%;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
	background-color: lightblue;  

}

.v{
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin: 0 auto;
}
